<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATS Resume Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>ATS Resume Checker</h1>

    <form action="">
        <label for="resume">Upload your resume</label><br>
        <input type="file" id="fname" name="fname"><br>
        <label for="jd">Job Description (type or drag & drop .txt file)</label>
        <textarea id="job_description" name="job_description" rows="5" cols="50"></textarea>

        <input type="submit" value="Submit">
    </form>

    <div id="result"></div>

    <button type="button" onclick="window.location.href='/history'">View History</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
